:root {
    --jumbotron-padding-y: 3rem;
  }
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }


  canvas {
    position: fixed;
    vertical-align: bottom;
  } /* ---- particles.js container ---- */
  #particles-js {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1a2640;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 50%;
  } /* ---- stats.js ---- */
  .count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  .js-count-particles {
    font-size: 1.1em;
  }
  .count-particles {
    border-radius: 0 0 3px 3px;
  }
  

  .bg-dark {
    background-color: #00bc8c6b!important;
}

button{
  transition: 0.3s;
}

.navbar-toggler:hover{
background: #1b7a74;
}
.main{
  color: #000022;
  background-color: #f1f1f1;
  box-shadow: 3px 1px 7px 2px #0e151c;
}

.logo{
  margin-top: 3px;
  width: 180px;
}


.spock-logo{
  width: 40px;
  fill: #fff;
}


.text-muted {
  color: #c8c8c8!important;
}

.lead{
  font-size: 1.5rem
}

.label-right{
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .label-right{
    text-align: left;
  }
}

.main-form .label-right{
  color: #000;
  
}

.result{
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.sym{
  color: #000;
  font-weight: 400;
}

#time {
  width:100%;
  padding: 15px;
  display: none;
  background-color: rgba(243,156,18,.5)
}